name: build

on:
  push:
    branches:
      - master
      - 'renovate/**'
      - 'chore/**'

  pull_request:

env:
  # https://github.com/chalk/supports-color/issues/106
  FORCE_COLOR: true

jobs:
  build:
    runs-on: ubuntu-latest

    timeout-minutes: 60

    steps:
      - uses: actions/checkout@v2

      - run: ls -la /mnt/

      - name: Docker registry login
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin

      - name: Build and Publish
        uses: renovatebot/internal-tools@v0
        with:
          command: "docker-builder"
          last-only: true
          tag-suffix: slim
          dry-run: ${{github.ref != 'refs/heads/master'}}
