name: build

on:
  push:
    branches:
      - v35
  pull_request:
    branches:
      - v35

permissions:
  contents: read
  id-token: write
  packages: write

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 60

    steps:
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3

      - uses: sigstore/cosign-installer@6e04d228eb30da1757ee4e1dd75a0ec73a653e06 # v3.1.1

      - name: Docker registry login
        if: github.ref == 'refs/heads/v35'
        run: |
          echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin
          echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.repository_owner }} --password-stdin

      - name: Build and Publish to docker.io
        uses: containerbase/internal-tools@987da5bf2bda8497e4f8996ccb57dd4ff52ed2bd # v1.21.8
        with:
          command: docker-builder
          last-only: true
          dry-run: ${{github.ref != 'refs/heads/v35'}}
          tag-suffix: slim

      - name: Build and Publish to ghcr.io
        uses: containerbase/internal-tools@987da5bf2bda8497e4f8996ccb57dd4ff52ed2bd # v1.21.8
        with:
          command: docker-builder
          image-prefix: ghcr.io/${{ github.repository_owner }}
          last-only: true
          dry-run: ${{github.ref != 'refs/heads/v35'}}
          tag-suffix: slim
