name: cron

on:
  push:
    branches:
      - main
  schedule:
    - cron: '0 1 * * *'

permissions:
  contents: read
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@dcd71f646680f2efd8db4afa5ad64fdcba30e748 # tag=v3.0.1

      - uses: sigstore/cosign-installer@bb61838e7ee5bf314f85f2e219b3706835fa6306 # tag=v2.2.1

      - name: Docker registry login
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin

      - name: Build and Publish
        uses: renovatebot/internal-tools@ffef526e66307bbd7d4ca085881570396e1eaa71 # tag=v1.12.10
        with:
          command: docker-builder
          prune: true
          tag-suffix: slim
