name: cron

on:
  schedule:
    - cron: '0 1 * * *'

env:
  # https://github.com/chalk/supports-color/issues/106
  FORCE_COLOR: true

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: docker-config
        uses: renovatebot/internal-tools@v0
        with:
          command: docker-config

      - name: Docker registry login
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin

      - name: Build and Publish
        uses: renovatebot/internal-tools@v0
        with:
          command: "docker-builder"
          tag-suffix: slim
          dry-run: ${{github.ref != 'refs/heads/master'}}
